.corpo {
    background-color: #1565c0;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registroform {
    width: 90%;
    max-width: 600px;
    background-color: white;
    padding: 35px;
    box-sizing: border-box;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.body-content {
    padding-left: 25px;
    padding-right: 25px;
}

.sidenav {
    width: 360px;
}

/* Restante do CSS não foi alterado */
.campos {
    padding-bottom: 30px;
    padding-top: 30px;
}

.tabelas, .formulario {
    padding-bottom: 50px;
    padding-top: 50px;
}

.card-espacado {
    padding-top: 25px;
    padding-left: 50px;
    padding-right: 25px;
    padding-bottom: 25px;
}

.collectionpie {
    padding-left: 10px;
}

.up {
    background-color: #1b5e20;
    color: white;
    border-radius: 100%;
}

.down {
    background-color: #b71c;
    color: white;
    border-radius: 100%;
}

/* Custom input field styles */
.input-field input[type=text]:focus,
.input-field input[type=password]:focus,
.input-field input[type=email]:focus,
.input-field input[type=file]:focus {
    border-bottom: 1px solid #1565c0;
    box-shadow: 0 1px 0 0 #1565c0;
}

.input-field label {
    color: #1565c0;
}

    .input-field label.active {
        color: #1565c0;
    }

input[type="email"] {
    max-width: 100%;
}

/* End of custom input field styles */
